.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__button {
  background-color: rgb(65, 27, 33);
  border: 1px solid black;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
